- var pageClassName = "page"
- var PageName;


// Dahboard Target Widget 
- var targetFeatures = [{ iconClass: "fa-solid fa-dollar-sign fa-lg", name: "money", count: "$20000", progress: 80%, color: "blue" }, { iconClass: "fa-solid fa-code fa-lg", name: "projects", count: "80", progress: "50%", color: "orange" }, { iconClass: "fa-solid fa-user fa-lg", name: "team", count: "20", progress: "75%", color: "green" }]
