- var pageClassName = "page"
- var PageName;


//- Dahboard Target Widget 
- 
    var targetFeatures = [
        { iconClass: "fa-solid fa-dollar-sign fa-lg", name: "money", count: "$20000", progress: '80%', color: "blue" },
        { iconClass: "fa-solid fa-code fa-lg", name: "projects", count: "80", progress: "50%", color: "orange" },
        { iconClass: "fa-solid fa-user fa-lg", name: "team", count: "20", progress: "75%", color: "green" }
        ]

//- Tickets Statistics Widget
- 
    var tickets = [
        {iconClass:'fa-regular fa-rectangle-list fa-2x mb-10 c-orange', statistic: "2500", status: "Total"},
        {iconClass:'fa-solid fa-spinner fa-2x mb-10 c-blue', statistic: "500", status: "Pending"},
        {iconClass:'fa-regular fa-circle-check fa-2x mb-10 c-green', statistic: "1900", status: "Closed"},
        {iconClass:'fa-regular fa-rectangle-xmark fa-2x mb-10 c-red', statistic: "100", status: "Deleted"}
        ]

//- Latest News Widget
- 
    var latestNews = [
        {srcImg: "imgs/news-01.png", title: "Created SASS Section", details: "New SASS Examples & Tutorials", since: "3 Days Ago"},
        {srcImg: "imgs/news-02.png", title: "Changed The Design", details: "A Brand New Website Design", since: "5 Days Ago"},
        {srcImg: "imgs/news-03.png", title: "Team Increased", details: "3 Developers Joined The Team", since: "7 Days Ago"},
        {srcImg: "imgs/news-04.png", title: "Added Payment Gateway", details: "Many New Payment Gateways Added", since: "9 Days Ago"}
        ] 

//- Latest Tasks Widget
- 
    var latestTasks = [
        {title: "Record One New Video", details: "Record Python Create Exe Project"},
        {title: "Write Article", details: "Write Low Level vs High Level Languages"},
        {title: "Finish Project", details: "Publish Academy Programming Project"},
        {title: "Attend The Meeting", details: "Attend The Project Business Analysis Meeting"},
        {title: "Finish Lesson", details: "Finish Teaching Flex Box"}
        ]

//- To Search Items Widget
- 
    var searchItems = { 
        Programming: "220",
        JavaScript: "180",
        Code: "145", 
        Design: "110",  
        Sass: "41",
        GulpJS: "10",
        ReactJS: "400",
        }

//- Latest Uploads Widget
- 
    var latestUploads = [
        {srcImg: "imgs/pdf.svg", name: "my-file.pdf", consumer: "Elzero", size: "2.9mb"},
        {srcImg: "imgs/avi.svg", name: "my-video-file.avi", consumer: "Admin", size: "4.9mb"},
        {srcImg: "imgs/psd.svg", name: "my-psd-file.pdf", consumer: "Osama", size: "4.5mb"},
        {srcImg: "imgs/zip.svg", name: "my-zip-file.pdf", consumer: "User", size: "8.9mb"},
        {srcImg: "imgs/dll.svg", name: "my-dll-file.pdf", consumer: "Admin", size: "4.9mb"},
        {srcImg: "imgs/eps.svg", name: "my-eps-file.pdf", consumer: "Designer", size: "8.9mb"} 
        ]

//- Workflow Progress
- 
    var workflow = [
        "Got The Project",
        "Started The Project",
        "The Project About To Finish",
        "Test The Project",
        "Finish The Project & Get Money"
    ]

//- Reminders Widget
-
    reminders = [
        {color: "blue", task: "Check My Tasks List", date: "28/09/2022 - 12:00am"},
        {color: "green", task: "Check My Projects", date: "26/10/2022 - 12:00am"},
        {color: "orange", task: "Call All My Clients", date: "05/11/2022 - 12:00am"},
        {color: "red", task: "Finish The Development Workshop", date: "20/12/2022 - 12:00am"},
    ]