- var pageClassName = "page"
- var PageName;


//- Dahboard Target Widget 
-
    var targetFeatures = [
        { iconClass: "fa-solid fa-dollar-sign fa-lg", name: "money", count: "$20000", progress: '80%', color: "blue" },
        { iconClass: "fa-solid fa-code fa-lg", name: "projects", count: "80", progress: "50%", color: "orange" },
        { iconClass: "fa-solid fa-user fa-lg", name: "team", count: "20", progress: "75%", color: "green" }
    ]

//- Tickets Statistics Widget
-
    var tickets = [
        {iconClass:'fa-regular fa-rectangle-list fa-2x mb-10 c-orange', statistic: "2500", status: "Total"},
        {iconClass:'fa-solid fa-spinner fa-2x mb-10 c-blue', statistic: "500", status: "Pending"},
        {iconClass:'fa-regular fa-circle-check fa-2x mb-10 c-green', statistic: "1900", status: "Closed"},
        {iconClass:'fa-regular fa-rectangle-xmark fa-2x mb-10 c-red', statistic: "100", status: "Deleted"}
    ]

//- Latest News Widget
-
    var latestNews = [
        {srcImg: "imgs/news-01.png", title: "Created SASS Section", details: "New SASS Examples & Tutorials", since: "3 Days Ago"},
        {srcImg: "imgs/news-02.png", title: "Changed The Design", details: "A Brand New Website Design", since: "5 Days Ago"},
        {srcImg: "imgs/news-03.png", title: "Team Increased", details: "3 Developers Joined The Team", since: "7 Days Ago"},
        {srcImg: "imgs/news-04.png", title: "Added Payment Gateway", details: "Many New Payment Gateways Added", since: "9 Days Ago"}
    ] 

//- Latest Tasks Widget
-
    var latestTasks = [
        {title: "Record One New Video", details: "Record Python Create Exe Project"},
        {title: "Write Article", details: "Write Low Level vs High Level Languages"},
        {title: "Finish Project", details: "Publish Academy Programming Project"},
        {title: "Attend The Meeting", details: "Attend The Project Business Analysis Meeting"},
        {title: "Finish Lesson", details: "Finish Teaching Flex Box"}
    ]

//- To Search Items Widget
-
    var searchItems = { 
        Programming: "220",
        JavaScript: "180",
        Code: "145", 
        Design: "110",  
        Sass: "41",
        GulpJS: "10",
        ReactJS: "400",
    }

//- Latest Uploads Widget
-
    var latestUploads = [
        {srcImg: "imgs/pdf.svg", name: "my-file.pdf", consumer: "Elzero", size: "2.9mb"},
        {srcImg: "imgs/avi.svg", name: "my-video-file.avi", consumer: "Admin", size: "4.9mb"},
        {srcImg: "imgs/psd.svg", name: "my-psd-file.pdf", consumer: "Osama", size: "4.5mb"},
        {srcImg: "imgs/zip.svg", name: "my-zip-file.pdf", consumer: "User", size: "8.9mb"},
        {srcImg: "imgs/dll.svg", name: "my-dll-file.pdf", consumer: "Admin", size: "4.9mb"},
        {srcImg: "imgs/eps.svg", name: "my-eps-file.pdf", consumer: "Designer", size: "8.9mb"} 
    ]

//- Workflow Progress
-
    var workflow = [
        "Got The Project",
        "Started The Project",
        "The Project About To Finish",
        "Test The Project",
        "Finish The Project & Get Money"
    ]

//- Reminders Widget
-
    var reminders = [
        {color: "blue", task: "Check My Tasks List", date: "28/09/2022 - 12:00am"},
        {color: "green", task: "Check My Projects", date: "26/10/2022 - 12:00am"},
        {color: "orange", task: "Call All My Clients", date: "05/11/2022 - 12:00am"},
        {color: "red", task: "Finish The Development Workshop", date: "20/12/2022 - 12:00am"},
    ]

//- Social Media Stats
-
    var socialStats = [
        {app: "twitter", icon: "fa-brands fa-twitter fa-2x", stats: "90K Followers", button: "Follow"},
        {app: "facebook", icon: "fa-brands fa-facebook-f fa-2x", stats: "2M Like", button: "Like"},
        {app: "youtube", icon: "fa-brands fa-youtube fa-2x", stats: "1M Subs", button: "Subscribe"},
        {app: "linkedin", icon: "fa-brands fa-linkedin fa-2x", stats: "70K Followers", button: "Follow"},
    ]

//- Projects Table 

-
    var projects = [
        {name: "Ministry Wikipedia	", finishDate: "10 May 2022", client: "Ministry", price: "$5300", team: ["imgs/team-01.png", "imgs/team-02.png", "imgs/team-03.png", "imgs/team-04.png"], status: "Pending"},
        {name: "Elzero Shop", finishDate: "12 Oct 2021", client: "Elzero Company", price: "$1500", team: ["imgs/team-01.png", "imgs/team-02.png"], status: "In Progress"},
        {name: "Bouba App", finishDate: "05 Sep 2021", client: "Bouba", price: "$800", team: ["imgs/team-01.png", "imgs/team-02.png", "imgs/team-04.png"], status: "Completed"},
        {name: "Mahmoud Website", finishDate: "22 May 2021", client: "Mahmoud", price: "$600", team: ["imgs/team-03.png", "imgs/team-01.png", "imgs/team-05.png"], status: "Completed"},
        {name: "Sayed Website", finishDate: "24 May 2021", client: "Sayed", price: "$300", team: ["imgs/team-01.png", "imgs/team-02.png", "imgs/team-03.png"], status: "Rejected"},
        {name: "Arena Application", finishDate: "01 Mar 2021", client: "Arena Company", price: "$2600", team: ["imgs/team-01.png", "imgs/team-02.png"], status: "Completed"},
    ]

//- Social Info 
-
    var socialInfos = [
        {name: "twitter", icon: "fa-brands fa-twitter"},
        {name: "facebook", icon: "fa-brands fa-facebook-f"},
        {name: "linkedin", icon: "fa-brands fa-linkedin"},
        {name: "youtube", icon: "fa-brands fa-youtube"},
    ]

//- Widgets Control
-
    var widgetsControlLabels = [
        "Quick Draft",
        "Yearly Targets",
        "Tickets Statistics",
        "Latest News",
        "Latest Tasks",
        "Top Search Items"
    ]


//- Backup Manager 
-
    var backupTimes = [
            "daily",
            "weekly",
            "monthly"
    ]

-
    var backupServers = [
            "megaman",
            "zero",
            "sigma"
    ]

//- Profile Main Widget
-
    var profileInfos =  [
        {title: "General Information", name: "Mohammed Eladawi", gender: "Male", country: "Egypt"},
        {title: "Personal Information", email: "mohammed@gmail.com", phone: "01024585724", date_of_birth: "25/10/1982"},
        {title: "Job Information", job_title: "Front End Developer", programming_language: "JavaScript", years_of_experience: "15+"},
        {title: "Billing Information", payment_method: "Paypal", email: "email@website.com", subscription: "Monthly"}
    ]

//- My Skills Widget
-
    var skills = [  'HTML', 'Pugjs', 'HAML',  'CSS', 'SASS', 'Stylus',  'JavaScript', 'TypeScript',  'Vuejs', 'Reactjs',  'Jest', 'Jasmine',  'PHP', 'Laravel',  'Python', 'Django']


//- Latest Activities Widget
-
    var activities = [
        {imgSrc: "imgs/activity-01.png", title: "Store", info: "Bought The Mastering Python Course", time: "18:10", day: "Yesterday"},
        {imgSrc: "imgs/activity-02.png", title: "Academy", info: "Got The PHP Certificate", time: "16:05", day: "Yesterday"},
        {imgSrc: "imgs/activity-03.png", title: "Badges", info: "Unlocked The 10 Skills Badge", time: "18:05", day: "Yesterday"},
    ]