.widgets {
  display: grid;
  gap: 10px;

  @each $coulmnWidth in $gridColumnsWidth {
    &-#{$coulmnWidth} {
      @media ($md) {
        grid-template-columns: repeat(
          auto-fill,
          minmax(#{$coulmnWidth}px, 1fr)
        );
      }
    }
  }
}

.widget {
  padding: 20px;
  span {
    color: $greyColor;
    font-size: 14px;
  }
  background-color: white;
  border-radius: 6px;
  overflow: hidden;

  .widget__header {
    margin-bottom: 20px;
    h3 {
      font-size: 22px;
    }
    span {
      display: block;
      margin-top: 10px;
    }
  }
}
