// Colors
$blueColor: #0075ff;
$blueAltColor: #0d69d5;
$orangeColor: #f59e0b;
$greenColor: #22c55e;
$redColor: #f44336;
$greyColor: #888;

// Transiton
$mainTransitionDuration: 0.3s;

// Breakpoints
$sm: "max-width: 767px";
$md: "min-width: 768px";
$lg: "min-width: 992px";
$xl: "min-width: 1200px";

// Define colors (Yearly Target)
$targetTypes: (
  money: (
    color: rgb(0, 117, 255),
    width: 80%,
  ),
  projects: (
    color: rgb(245, 158, 11),
    width: 50%,
  ),
  team: (
    color: rgb(34, 197, 94),
    width: 75%,
  ),
);

// Tickets Statistics
$ticketColors: (
  c-orange: $orangeColor,
  c-blue: $blueColor,
  c-green: $greenColor,
  c-red: $redColor,
);
