// Grid Columns
$gridColumnsWidth: ("200", "300", "450");

// Colors
$blueColor: #0075ff;
$blueAltColor: #0d69d5;
$orangeColor: #f59e0b;
$greenColor: #22c55e;
$redColor: #f44336;
$greyColor: #888;

// Transiton
$mainTransitionDuration: 0.3s;

// Breakpoints
$sm: "max-width: 767px";
$md: "min-width: 768px";
$lg: "min-width: 992px";
$xl: "min-width: 1200px";

// Define colors (Yearly Target)
$targetTypes: (
  money: (
    color: rgb(0, 117, 255),
    width: 80%,
  ),
  projects: (
    color: rgb(245, 158, 11),
    width: 50%,
  ),
  team: (
    color: rgb(34, 197, 94),
    width: 75%,
  ),
);

// Tickets Statistics
$ticketColors: (
  c-orange: $orangeColor,
  c-blue: $blueColor,
  c-green: $greenColor,
  c-red: $redColor,
);

// Reminders
$reminderColors: (
  blue: $blueColor,
  green: $greenColor,
  orange: $orangeColor,
  red: $redColor,
);

// Social Media Stats
$appColors: (
  twitter: (
    appColor: #1da1f2,
    rowColor: rgb(29 161 242 / 20%),
  ),
  facebook: (
    appColor: #1877f2,
    rowColor: rgb(24 119 242 / 20%),
  ),
  youtube: (
    appColor: #ff0000,
    rowColor: rgb(255 0 0 / 20%),
  ),
  linkedin: (
    appColor: #0077b5,
    rowColor: rgb(0 119 181 / 20%),
  ),
);

// Files Statistics
$fileStats: (
  pdf: (
    rgb(0 117 255 / 20%),
    $blueColor,
  ),
  images: (
    rgb(34 197 94 / 20%),
    $greenColor,
  ),
  word: (
    rgb(244 67 54 / 20%),
    $redColor,
  ),
  csv: (
    rgb(245 158 11 / 20%),
    $orangeColor,
  ),
);

// Plans
$plans: (
  free: $greenColor,
  basic: $blueColor,
  premium: $orangeColor,
);
