include pug/helpers/variables.pug
doctype 

html(lang="en")
    head 
        include pug/includes/head-tags.pug
        title Courses
    body
        div(class=pageClassName)
            include pug/layouts/sidebar.pug
            include pug/layouts/header.pug
        