// Start Header
.header
    .header__search
        i.fa-solid.fa-magnifying-glass
        input(type="search" placeholder="Search...")
    
    .header__icons 
        button.icon.icon--notifications(data-content="content--notifications")
            i.far.fa-bell
        .icon.icon--profile(data-content="content--profile")
            img(src="imgs/avatar.png", alt="Profile Picture")
    
    // Icons Content 
    .content.content--notifications
        p You have #[span(class="notification_count") 1] notifiation
    .content.content--profile
         p Your profile content
// End Header