// Start sidebar
.sidebar
    h3(class="logo") Template
    ul 
        li
            a(href="index.html" class="active")
                i(class="fa-solid fa-chart-bar fa-fw")
                span Dashboard
        li
            a(href="settings.html")
                i(class="fa-solid fa-gear fa-fw")
                span Settings
        li
            a(href="profile.html")
                i(class="fa-regular fa-user fa-fw")
                span Profile
        li
            a(href="projects.html")
                i(class="fa-solid fa-diagram-project fa-fw")
                span Projects
        li
            a(href="courses.html")
                i(class="fa-solid fa-graduation-cap fa-fw")
                span Courses
        li
            a(href="friends.html")
                i(class="fa-regular fa-circle-user fa-fw")
                span Friends
        li
            a(href="files.html")
                i(class="fa-regular fa-file fa-fw")
                span Files
        li
            a(href="plans.html")
                i(class="fa-regular fa-credit-card fa-fw")
                span Plans
                
// End sidebar