// Placeholder Selector
%btn-margin {
  margin-left: auto;
  @media ($sm) {
    margin-right: auto;
  }
}

/* Index */
.dashboard__widgets {
  display: grid;
  @media ($sm) {
    grid-template-columns: minmax(200px, 1fr);
  }
  @media ($md) {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
  gap: 10px;

  /* Welcome Widget */
  .welcome--widget {
    padding: 0;
    /* Header */
    .widget__header--welcome {
      display: flex;
      padding: 20px;
      background-color: #eee;
      margin-bottom: 0;
      @media ($sm) {
        height: 130px;
      }
      .welcome_header_text {
        flex: 1;
        h3 {
          font-size: 22px;
          margin-bottom: 6px;
        }
      }
      .welcome_header_image {
        img {
          width: 200px;
        }
        @media ($sm) {
          display: none;
        }
      }
    }
    .welcome__profile {
      width: 70px;
      padding: 6px;
      margin-top: -35px;
      margin-left: 20px;
      background-color: white;
      border-radius: 50%;
      box-shadow: 0 0 12px #ddd;
      img {
        width: 100%;
      }
      @media ($sm) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    /* Content */
    .welcome__content {
      @media ($md) {
        display: flex;
        justify-content: space-between;
      }
      padding: 20px;
      margin-top: 10px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      div {
        @media ($sm) {
          margin-bottom: 20px;
        }
        p {
          @media ($md) {
            margin-bottom: 10px;
          }
        }
        text-align: center;
      }
    }

    /* Footer */
    .welcome__footer {
      padding: 20px;
      text-align: end;
      .btn {
        @extend %btn-margin;
      }
    }
  }
}

/* Draft Widget*/
.draft--widget {
  padding: 20px;
  /* Header */
  .widget__header--draft {
    h3 {
      margin-bottom: 10px;
    }
  }

  /* Content */
  .draft__content {
    input {
      display: block;
      background-color: #eee;
      padding: 10px;
      border-radius: 4px;
      width: 100%;
      margin-bottom: 10px;
    }

    textarea {
      resize: none;
      @extend input;
      height: 160px;
    }
  }
  /* Footer */
  .draft__footer {
    .btn {
      @extend %btn-margin;
    }
  }
}

/* Yearly Target Widget */
.target--widget {
  /* Elements */
  .widget__header--target {
    h3 {
      margin-bottom: 10px;
    }
  }

  .target__content {
    .content_details {
      display: flex;
      gap: 20px;
      margin: 10px;

      .target__icon {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .target__info {
        flex: 1;
        p {
          margin-top: 5px;
          margin-bottom: 15px;
          font-weight: bold;
        }
      }

      .progress__container {
        width: 100%;
        height: 5px;

        .reached {
          display: block;
          height: 5px;
          position: relative;

          &::before {
            content: attr(data-progress);
            width: 30px;
            height: 20px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: calc(100% + 10px);
            font-size: 12px;
            border-radius: 6px;
            right: -15px;
          }
        }
      }
    }

    /* Modifiers */
    @each $type, $details in $targetTypes {
      $color: map-get($details, color);
      $width: map-get($details, width);

      .content_details--#{$type} {
        .target__icon {
          background-color: rgba($color, 0.2);
          i {
            color: $color;
          }
        }
        .progress__container {
          background-color: rgba($color, 0.2);
          .reached {
            background-color: $color;
            width: $width;
            &::before {
              background-color: $color;
            }
          }
        }
      }
    }
  }
}
