/* Button Component */
.btn {
  display: inline-block;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px 10px;

  &.btn--primary {
    background-color: $blueColor;
    cursor: pointer;
    &:hover {
      background-color: $blueAltColor;
    }
  }

  &.btn--info {
    background-color: #ddd;
  }

  &.btn--in-progress {
    background-color: $blueColor;
  }

  &.btn--completed {
    background-color: $greenColor;
  }

  &.btn--pending {
    background-color: $orangeColor;
  }

  &.btn--rejected {
    background-color: $redColor;
  }

  &.btn--primary,
  &.btn--in-progress,
  &.btn--completed,
  &.btn--pending,
  &.btn--rejected {
    color: white;
  }
}
