.widget {
  padding: 20px;
  @media ($sm) {
    text-align: center;
  }
  span {
    color: $greyColor;
    font-size: 14px;
  }
  background-color: white;
  border-radius: 6px;
  overflow: hidden;

  .widget__header {
    margin-bottom: 20px;
    h3 {
      font-size: 22px;
    }
  }
}
