include helpers/variables.pug
- pageTitle = 'Friends'

doctype 

html(lang="en")
    head 
        include includes/head-tags.pug
        title #{pageTitle}
    body
        div(class=pageClassName)
            include layouts/sidebar.pug
            .content
                include layouts/header.pug
